# App artifacts
/_build
/.elixir_ls
/db
/Mnesia.*
/deps
/*.ez

# Generated on crash by the VM
erl_crash.dump

# Generated on crash by NPM
npm-debug.log

# Static artifacts
/assets/node_modules

# Since we are building assets from assets/, we ignore priv/static.
/priv/static/

# Test coverage reports
/cover/

# Secret configuration files
/config/*.secret.exs
