<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="A free web application to help film photographers manage their rolls of film.">

    <title><%= title(assigns[:title]) %></title>
  </head>

  <body>
    <header class="site-header">
      <h1><%= link "kakte", to: static_path(@conn, "/") %></h1>

      <nav role="navigation">
        <ul>
          <%= if authenticated?(@conn) do %>
            <li>
              <span class="username">
                <%= @conn.assigns.current_user.username %>
              </span>

              <ul class="user-menu">
                <li><%= link gettext("Log out"),
                  to: session_path(@conn, :delete) %></li>
              </ul>
            </li>
          <% else %>
            <li class="login"><%= link gettext("Log in"),
              to: session_path(@conn, :login) %></li>
          <% end %>
        </ul>
      </nav>
    </header>

    <p class="alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
    <p class="alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>

    <main role="main">
      <%= render @view_module, @view_template, assigns %>
    </main>
  </body>
</html>
